.project-title {
    font-size: 64px;
    text-align: center;
}

.nav-ul {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: white;
}

.nav-li {
    padding: 15px 0px 15px 0px;
}

.nav-li:hover {
    font-size: 30px;
    text-shadow: 2px 2px 2px gray;
}

.aside-ul {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.aside-li {
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.aside-li:hover {
    background-color: #815fc0;
    color: white;
    text-shadow: 2px 2px 2px gray;
}

.section-box {
    display: flex;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-div {
    font-weight: bold;
    color: white;
}